/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue: #000fff;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  position: fixed;
  top: 0; /* Fixa no topo da página */
  background: var(--color-black);
  z-index: 2;
  transition: background 0.3s ease; /* Adiciona uma transição suave para a mudança de cor de fundo */
}

.header-title {
  text-decoration: none;
  color: var(--color-white);
  font-size: 2rem;
}

.header-title:hover {
  opacity: 0.8;
}

.navbar {
  max-width: 350px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 10px; 
}

.navbar ul li a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 700;
}

/* Call */
#call {
  height: 100vh;
  width: 100%;
  background: var(--color-black);
  display: flex;
  color: var(--color-white);
  align-items: center;
}

.call-content {
  width: 50%;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.call-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.call-content h2 p {
  display: inline-block;
}

.call-content h2 p:nth-child(2) span {
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--color-black);
  background: var(--color-white);
}

.call-content h3 {
  text-align: left;
  font-size: 1.5rem;
}

.call-content h3 p {
  margin-bottom: 1rem;
}

.box-call {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: left;
}

.box-call h4 {
  margin: 1rem 0.5rem;
  font-size: 1.5rem;
}

.box-call h4 p {
  margin: 1rem 0.5rem;
  display: inline;
  padding: 2px 4px;
  border: 2px solid var(--color-blue);
  font-weight: bold;
  font-size: 1.5rem;
}


/* Form */
#form {
  height: 100vh;
  width: 100%;
  background: var(--color-black);
  display: flex;
  color: var(--color-white);
}

.backgrond-form {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-form {
  height: 100%;
  width: 100%;
  position: relative; 
}

.img-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;

  background: 
    linear-gradient(.25turn, transparent 30%, var(--color-black)),
    linear-gradient(.5turn, transparent 30%, var(--color-black)),
    linear-gradient(1turn, transparent 65%, var(--color-black));
}

.img-form img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%; 
  padding: 3rem;
}

.sectio-subtitle h1 {
  display: inline-block;
  font-size: 3rem;
  margin: 3rem;  
}

.sectio-subtitle h1 p:nth-child(2) span {
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--color-black);
  background: var(--color-white);
}

.registration-form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 700px; /* Ajuste conforme necessário */
  margin: 0 auto; /* Centraliza o formulário na página */
}

.registration-form form {
  display: flex;
  flex-direction: column;
}

.registration-form label {
  margin-top: 10px;
  font-weight: bold;
}

.registration-form input,
.registration-form select,
.registration-form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form select {
  cursor: pointer;
}

.registration-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; 
}

.registration-form button[type="reset"] {
  background-color: #f44336;
}

.registration-form button:hover {
  background-color: #45a049; 
}


@keyframes written_text {
  100% {
    color: var(--color-white);
  }background: color(--var-black)
}

@keyframes written_text_name {
  100% {
    color: var(--color-blue);
  }
}

@keyframes written_text_box {
  50% {
    background: var(--color-blue);
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}